div {
    background: #E8AE6B;
    display: flex;
    justify-content: right;
    margin-bottom: 1.5rem;
}

div button{
    background-color: teal;
    opacity: .8;
    color:white;
    outline: none;
}