<body id = "container">

  <header id ="header">

<h1> COMPLETE YOUR ORDER </h1>

  </header>

  <div id="chkoutSummary"></div>

  <div id="chkoutForm">

    <form>

      <div class ="row">
        <div class = "col">
          <label for="firstName"></label><br>
          <input type="text" id="firstNameField" name="firstName" placeholder="First Name">
        </div>

        <div class = "col">
          <label for="lastName"></label><br>
          <input type="text" id="lastNameField" name="lastName" placeholder="Last Name"><br><br>
        </div>
      </div>

      <div class = "row">
        <label for="billing"></label><br>
        <input type="text" id="billingField" name="billing" placeholder="Billing Address"><br><br>
      </div>

      <div class = "row">
        <div class = "col">
          <label for="city"></label><br>
          <input type="text" id="cityField" name="city" placeholder="City">
        </div>

        <div class = "col">
          <label for="state"></label><br>
          <input type="text" id="stateField" name="state" placeholder="State"><br><br>
        </div>
      </div>

      <div class = "row">
        <div class = "col">
          <label for="zipCode"></label><br>
          <input type="text" id="zipCodeField" name="zipCode" placeholder="Zip Code">
        </div>

        <div class = "col">
          <label for="phoneNumber"></label><br>
          <input type="tel" id="phoneNumberField" name="phoneNumber" placeholder="Phone Number"><br><br>
        </div>
    </div>

    <div class ="row">

      <div class = "col">
        <label for="email"></label><br>
        <input type="email" id="emailField" name="email" placeholder="Email">
      </div>

      <div class = "col">
        <label for="orderNotes"></label><br>
        <input type="text" id="orderNotesField" name="orderNotes" placeholder="Order Notes"><br><br>
      </div>

    </div>

      <div class = "row">
      <label for="cardNumber"></label><br>
      <input type="text" id="cardNumberField" inputMode= "numeric" name="cardNumber" maxLength= "16" placeholder="Card Number"><br><br>
      </div>

      <div class = "row">
        <div class = "col">
          <label for="expDate"></label><br>
          <input type="text" id="expDateField" name="expDate" placeholder="Expiration Date">
        </div>

        <div class = "col">
          <label for="cvc"></label><br>
          <input type="text" id="cvcField" name="cvc" placeholder="CVC"><br><br>
        </div>
      </div>

      <button id = "btnStyle" type="submit">Pay Now</button>

    </form>

  </div>

  <div id = "logo-style">
  <img src="/shop-coffee-frontend/shop-coffee/src/assets/images/DJC Logo 3.png" alt="Coffee Shop Logo">
  </div>

</body>
