<body id ="container">

    <header id="header">

      <!-- Link to hompage once it is created -->
      <button type="submit" id="homeBtn"> Return Home </button>

    </header>

      <div class="user-login-style" id="box">

        <img src="../../assets/images/DJC logo.png" id="logo-style" alt="Coffee Shop Logo" height="100px">

          <hr id="line-css">

            <h3>Log In</h3>

              <form (ngSubmit)="userLogin()">

                <label for="email"></label><br>
                <input type="text" [(ngModel)]="user.email" id="email" name="email" placeholder="Email"><br>

                <label for="password"></label><br>
                <input type="text" [(ngModel)]="user.password" id="password" name="password" placeholder="Password"><br><br>

                <button type="submit"> Log In </button>

              </form><br>

              <p>Don't have an account?<br>
                <a href="./register-user">Sign up now!</a></p>

      </div>

  </body>
