<body><div class="container custom-bg-filter">
<!--TODO: Create div class container and another div class container hidden for cart display-->
    <div class="customization">
        <img src="{{ customDrink.imageUrl }}" title="drinkType" id="drink-img"/>
        <p>Customize your {{ customDrink.getName() }}!</p>
    </div>
    
    <form
      #customDrinkForm="ngForm"
      (ngSubmit)="customDrinkForm.form.valid; addToCart(); customDrinkForm.reset()"
    >

        <label>Choose Milk
            <div class="form-group">
                <select 
                  class="form-select" name="milkChoice" id="milkChoice"
                  [(ngModel)]="customDrink.milkChoice" required
                >
                    <option *ngFor="let milk of getMilkOptions()" [value]="milk" >{{ milk.name }}</option>
                </select>
            </div>  
        </label>
        
        <label class="form-group">Choose Your Flavors<br />
            <ng-container *ngFor="let flavor of getFlavorOptions()">
                <label class="form-check-label">{{ flavor.name }}
                    <input 
                        class="form-control form-check-input" type="checkbox" value="true" id="{{ flavor.name }}"
                        [(ngModel)]="flavor.isChosen" name="flavorList"
                    />
                </label><br />
            </ng-container>
        </label>

        <label for="cups-container container">Select a Size
        <div class="cup-align" id="cups-container">
        
            <label class="form-check form-check-label">Traditional (up to 12 oz)
                <div>
                    <input 
                        class="form-check-input" type="radio"  id="tradSize"
                        name="drinkSize" [(ngModel)]="customDrink.size" value="{{ getSizeOptions()[0] }}" required
                    />
                    <img src="../../assets/images/smallCup.png" id="smallCup"/>
                </div>                 
            </label>
        
            <label class="form-check form-check-label">American (16 oz)
                <div>
                    <input
                    type="radio" name="drinkSize" id="amSize" value="{{ getSizeOptions()[1] }}"
                    name="drinkSize" [(ngModel)]="customDrink.size" required class="form-check-input"
                    />
                    <img src="../../assets/images/smallCup.png" id="medCup"/>
                </div>
            </label>                   
                
            <label class="form-check form-check-label">Large (20 oz)
                <div>
                    <input
                        type="radio" name="drinkSize"id="lrgSize" value="{{ getSizeOptions()[2] }}"
                        name="drinkSize" [(ngModel)]="customDrink.size" required class="form-check-input"
                    />
                    <img src="../../assets/images/smallCup.png" id="largeCup">
                </div>
            </label>
        
        </div>
        </label>
        
        <label class="form-check-label">Want it Iced?
            <div>
                <input
                  type="checkbox" class="form-control form-check-input" id="isIced"
                  name="isIced" value=true
                >
            </div>
        </label><br />

        <label class="form-check-label">Want it Decaf?
            <div>
                <input
                  type="checkbox" class="form-control form-check-input" id="isDecaf"
                  name="isDecaf" value=true
                >
            </div>
        </label><br />

        <label class="form-check-label">Need a Splash of Milk?
            <div>
                <input
                  type="checkbox" class="form-control form-check-input" id="milkSplash"
                  name="milkSplash" value=true
                >
            </div>
        </label><br /><br />

        <button type="submit" class="btn btn-success btn-lg">Add to Cart</button>
    </form>

    

</div></body>
