<body>
<!--    <div class="background">-->

        <div class="coffee-cup">
            <!-- add code to display the selected drink -->
            <img src="{{ selectedDrink?.imageUrl }}">
            <p>{{ selectedDrink?.name }}</p>
        </div>
        <div class="row">
            <div class="column">
                <div class="customization">
                    <p>Add Customizations:</p>
                    <div class="align">
                        <label for="milk">Milk</label>
                        <select name="milk" (change)="selectedMilkHandler($event)" id="milk">
                            <option *ngFor="let milk of milkTypes" [value]="milk.name" >{{milk.name}}</option>
                        </select>
                    </div>

                    <label>Flavors<div>
                        <div *ngFor="let flavor of flavors">
                            <label>{{ flavor.name }}
                                <input  type="checkbox" name="flavor"
                                        value="{{ flavor.name }}" />
                            </label>
                        </div>
                        
                    </div></label>
                    
                    <div class="align">
                        <label for="topping">Toppings</label>
                        <select name="topping" (change)="selectedToppingsHandler($event)" id="topping">
                            <option *ngFor="let topping of toppings" >{{topping.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="customization">
                    <p>Select a Size:</p>
                    <div class="cup">
                        <div class="smallCup">
                            <img src="../../assets/images/smallCup.png">
                        </div>
                        <div>Small
                            <label>
                                <input
                                  type="radio" name="item-1-checkbox" (click)="updateSize('small')"
                                  id="small" value="small">
                            </label>
                        </div>
                    </div>
                    <div class="cup">
                        <div class="medCup">
                            <img src="../../assets/images/smallCup.png">
                        </div>
                        <div>Medium
                            <label>
                                <input
                                  type="radio" name="item-1-checkbox" (click)="updateSize('Medium')"
                                  id="medium" value="medium">
                            </label>
                        </div>
                    </div>
                    <div class="cup">
                        <div class="largeCup">
                            <img src="../../assets/images/smallCup.png">
                        </div>
                        <div>Large
                            <label>
                                <input
                                  type="radio" name="item-1-checkbox" (click)="updateSize('Large')"
                                  id="large" value="large">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--    </div>-->
        <button (click)="goToOrder()">Order Now</button>

</body>
