.custom-bg-filter {
    background-color: bisque;
}

p {
    font-weight: 800;
}

select{
    height: 20px;
    width: auto;
    flex: 0 0 150px;
    margin-left: 10px;
    margin-bottom: 10px;
}


.cup-align {
    display: flex;
    flex-direction: column;
}

.column {
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.submit{
    margin-left: 43%;
    margin-top: 5%;
    height: 70px;
    width: 15%;
    background: #5ab2fa;
	color: #fff;
    font-size: 20px;
	border: 1px solid #eee;
	border-radius: 80px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
}

.submit:hover{
    background: #0887e8;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 80px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
}

.smallImg{
    margin-left: 0;
    margin-top: 0;
    padding: 0;
    
}

#drink-img {
    padding: 20px;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

#largeCup {
    height: 120px;
    width: 120px;
}

#medCup {
    height: 100px;
    width: 100px;
}

#smallCup {
    height: 80px;
    width: 80px;
}