
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Homepage</title>
</head>
<body>
  <section class="gallery">
    <div class="grid-container">
      <div *ngFor="let drink of drinkTypes" class="grid-item">
        <a routerLink="/create-coffee/{{drink.id}}"><img [src]="drink.imageUrl"></a>
        <p>{{ drink.name }}<span class="price">${{ drink.price }}</span></p>
      </div>
    </div>
  </div>
</section>

<!--<section class="menu">-->
<!--  <div class="container">-->
<!--    <div class="box1">-->
<!--      <p>Menu</p>-->
<!--      <p>Coffee</p>-->
<!--      <p>Tea</p>-->
<!--      <p>Pastry</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--&lt;!&ndash; need to find out how to link these 3 to the selected favorites. &ndash;&gt;-->
<section class="list">
    <div class="box2">
      <p>Value Menu</p>
        <div *ngFor="let drink of drinkTypes" class="grid-item" (click)="gotoOrderItem()" [hidden]="drink.price >= 2.50">
          <img [src]="drink.imageUrl">
          <p><span class="name">{{ drink.name }}</span></p>
          <p><span class="price">{{ drink.price }}</span></p>
        </div>
    </div>
</section>
</body>
</html>
