.helloname {
  position: absolute;
  top:3%;
  right: 135px;
  margin-right: 10px;
  transform: translateY(-50%);
  font-weight: bold;
  color:teal;
  font-size: 2em;

}
.logout {
  position: absolute;
  top:3%;
  right: 40px;
  margin-right: 10px;
  transform: translateY(-50%);
  font-weight: bold;
  color:teal;
  font-size: 1em;
}
.DreamyLogo {
  margin: 25px;
  width: 500px;
  height: 0px;
  outline: transparent 1px rgb(22, 22, 22);
  outline: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 1%;
  left: 49%;
  align-items: center;
}

.DreamyLogo img {
  width: 33%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.gallery {
  display: flex;
  justify-content: center;
  color:teal;
}

.grid-container {
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.grid-item {
  padding: 12px;
  text-align: center;
}

.grid-item img {
  width: 100%;
  height: auto;
  margin-bottom: 1px;
  border-radius: 20px;
}

.price {
  font-weight: bold;
}

.box1 {
  border: 2px solid black;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 10%;
  top: 50%;
  transform: translateY(-35%);
  font-weight: bold;
  color:teal;
  text-align: center;
}

.box1 p {
  font-size: 3.4em;
  line-height: 1.5;
  margin: 0;
}
.box2 {
  border: 2px solid #000000;
  padding: 20px;
  width: 200px;
  height: 720px;
  position: absolute;
  bottom: 0;
  right: 10%;
  top: 50%;
  transform: translateY(-35%);
  font-size: 24px;
  font-weight: bold;
  color:teal;


}

.box2 img {
  width:4em;
  height: 4em;
  margin: 50px 20px -5px -5px;
  margin-left: -5px;
  border-radius: 20px;
}
p {
  font-size: 2em;
  line-height: 1.5;
  text-align: center;
}
.favitem1{
  text-align: center;
  margin: -30px;
  font-size: 28px;
}


body {
  background-image:url('/assets/images/christina-rumpf-LMzwJDu6hTE-unsplash.jpg');
  background-attachment:fixed;
  width: 100%;
  height: 150%;
  background-position: center;
  }
