<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Homepage</title>
</head>
<body>
  <header>
    <div class ="helloname">Hello, Name</div>
    <div class ="logout">Logout</div>
    <div class="DreamyLogo">
      <img src="\assets\images\DJC logo.png" alt="DreamyLogo">
     <div class="gallery-container">
      
      <section class="gallery">
      </section>
    <section class="gallery">
      <div class="item-1">
        <img src="\assets\images\Cappuccino.jpg" alt="item 1">
        <div class="itemtext1">item 1
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label>
        </div>
      </div>
      <div class="item-2">
        <img src="\assets\images\Chai-tea.jpg" alt="item 2">
        <div class="itemtext1">item 2
          <label>
          <input type="checkbox" name="item-1-checkbox">
        </label></div>
      </div>
      <div class="item-3">
        <img src="\assets\images\cinnamon-green-tea.jpg" alt="item 3">
        <div class="itemtext1">item 3        
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label></div>
      </div>
    </section>
    <section class="gallery">
    </section>
    <section class="gallery">
      <div class="item-1">
        <img src="\assets\images\Cappuccino.jpg" alt="item 1">
        <div class="itemtext1">item 1
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label>
        </div>
      </div>
      <div class="item-2">
        <img src="\assets\images\Chai-tea.jpg" alt="item 2">
        <div class="itemtext1">item 2
          <label>
          <input type="checkbox" name="item-1-checkbox">
        </label></div>
      </div>
      <div class="item-3">
        <img src="\assets\images\cinnamon-green-tea.jpg" alt="item 3">
        <div class="itemtext1">item 3        
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label></div>
      </div>
    </section>
    
    <section class="gallery">
      <div class="item-1">
        <img src="\assets\images\Cappuccino.jpg" alt="item 1">
        <div class="itemtext1">item 1
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label>
        </div>
      </div>
      <div class="item-2">
        <img src="\assets\images\Chai-tea.jpg" alt="item 2">
        <div class="itemtext1">item 2
          <label>
          <input type="checkbox" name="item-1-checkbox">
        </label></div>
      </div>
      <div class="item-3">
        <img src="\assets\images\cinnamon-green-tea.jpg" alt="item 3">
        <div class="itemtext1">item 3        
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label></div>
      </div>
      <div class="item-4">
        <img src="\assets\images\ice-tea.jpg" alt="item 4">
        <div class="itemtext1">item 4        
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label></div>
      </div>
      <div class="item-5">
        <img src="\assets\images\Hotpot.png" alt="item 5">
        <div class="itemtext1">item 5        
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label></div>
      </div>
    </section>
    <section class="gallery">
    </section>

    
    <section class="gallery">
      <div class="item-1">
        <img src="\assets\images\Cappuccino.jpg" alt="item 1">
        <div class="itemtext1">item 1
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label>
        </div>
      </div>
      <div class="item-2">
        <img src="\assets\images\Chai-tea.jpg" alt="item 2">
        <div class="itemtext1">item 2
          <label>
          <input type="checkbox" name="item-1-checkbox">
        </label></div>
      </div>
      <div class="item-3">
        <img src="\assets\images\cinnamon-green-tea.jpg" alt="item 3">
        <div class="itemtext1">item 3        
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label></div>
      </div>
    </section>
    
    
        <section class="gallery">
    </section>

    
    <section class="gallery">
      <div class="item-1">
        <img src="\assets\images\Cappuccino.jpg" alt="item 1">
        <div class="itemtext1">item 1
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label>
        </div>
      </div>
      <div class="item-2">
        <img src="\assets\images\Chai-tea.jpg" alt="item 2">
        <div class="itemtext1">item 2
          <label>
          <input type="checkbox" name="item-1-checkbox">
        </label></div>
      </div>
      <div class="item-3">
        <img src="\assets\images\cinnamon-green-tea.jpg" alt="item 3">
        <div class="itemtext1">item 3        
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label></div>
      </div>
      <div class="item-4">
        <img src="\assets\images\ice-tea.jpg" alt="item 4">
        <div class="itemtext1">item 4        
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label></div>
      </div>
      <div class="item-5">
        <img src="\assets\images\Hotpot.png" alt="item 5">
        <div class="itemtext1">item 5        
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label></div>
      </div>
    </section>
    <section class="gallery">
      <div class="item-1">
        <img src="\assets\images\Cappuccino.jpg" alt="item 1">
        <div class="itemtext1">item 1
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label>
        </div>
      </div>
      <div class="item-2">
        <img src="\assets\images\Chai-tea.jpg" alt="item 2">
        <div class="itemtext1">item 2
          <label>
          <input type="checkbox" name="item-1-checkbox">
        </label></div>
      </div>
      <div class="item-3">
        <img src="\assets\images\cinnamon-green-tea.jpg" alt="item 3">
        <div class="itemtext1">item 3        
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label></div>
      </div>
    </section>
    <section class="gallery">
      <div class="item-1">
        <img src="\assets\images\Cappuccino.jpg" alt="item 1">
        <div class="itemtext1">item 1
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label>
        </div>
      </div>
      <div class="item-2">
        <img src="\assets\images\Chai-tea.jpg" alt="item 2">
        <div class="itemtext1">item 2
          <label>
          <input type="checkbox" name="item-1-checkbox">
        </label></div>
      </div>
      <div class="item-3">
        <img src="\assets\images\cinnamon-green-tea.jpg" alt="item 3">
        <div class="itemtext1">item 3        
          <label>
            <input type="checkbox" name="item-1-checkbox">
          </label></div>
      </div>
    </section>
    

    

  </div>
    </div>
    <section class="menu">
      <div class="container">
        <div class="box1">
          <p>Option 1</p>
          <p>Option 2</p>
          <p>Option 3</p>
          <p>Option 4</p>
        </div>
      </div>
        <div class="container">
          <div class="box2">
            <p>Drink Item</p>
            <p>Size / Option</p>
            <p>Milk Type</p>
            <p>Hot / Iced</p>
            <p>Flavor / Topping / Add-ons</p>
          </div>
        </div>
    </section>
  </header>
</body>
</html>