<a href="/" class="navbar">Logout</a>
<header>
    <a href="/">
        <img src="../../assets/images/DJC logo.png" alt="logo">
    </a>

    <div id="main">
        <!-- have to add code to display selected item -->
        <h2>Edit [Item Name]</h2> <button>Delete Item</button>
    </div>
</header>

<section class="menu">
    <div class="container">
      <div class="box1">
        <p *ngFor ="let menulist of menuList"> {{menulist}}</p>
      </div>
    </div>
  </section>


<div id="main">

  <form (ngSubmit)="submitForm()">

    <div class ="row">
      <div class = "col">
        <label for="drinkName"></label><br>
        <input type="text" id="drinkNameField" name="drinkName" [(ngModel)]="drinkTypes[0].name" placeholder="Drink Name" required>
      </div>

      <div class = "col">
        <label for="drinkPrice"></label><br>
        <input type="text" id="drinkPriceField" name="drinkPrice" [(ngModel)]="drinkTypes[0].price" placeholder="Drink Price" required><br><br>
      </div>
    </div>

    <div class = "row">
      <label for="imageUrl"></label><br>
      <input type="text" id="imageUrlField" name="ImageUrl" [(ngModel)]="drinkTypes[0].imageUrl" placeholder="Image Url" required><br><br>
    </div>

    <button type="submit">Add Drink</button>

  </form>

</div>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let drinkType of drinkTypes">
      <td> {{drinkType.name}} </td>
      <td> {{drinkType.price}} </td>
      <td> {{drinkType.imageUrl}} </td>
    </tr>
  </tbody>
</table>
