<body id ="container">

<div class="user-login-style" id="box">

  <img src="../../assets/images/DJC logo.png" id="logo-style" alt="Coffee Shop Logo" height="100px">

  <hr id="line-css">

  <h3>Register a New User</h3>

  <form (ngSubmit)="userRegistration()">

    <label>Name<br>
    <input type="text" [(ngModel)]="user.name" id="name" name="name" placeholder="Name" autocomplete="given-name"></label><br>

    <label>Email<br>
    <input type="text" [(ngModel)]="user.email" id="email" name="email" placeholder="Email" autocomplete="email"></label><br>

    <label>Birthday<br>
    <input type="text" [(ngModel)]="user.birthday" id="birthday" name="birthday" placeholder="MM/DD"></label><br>

    <label>Password<br>
    <input type="password" [(ngModel)]="user.password" id="password" name="password" placeholder="Password" autocomplete="new-password"><br>
    <input type="password" [(ngModel)]="confirmPassword" id="confirmPw" name="confirmPassword" placeholder="Confirm Password"></label><br>

    <label>Roles
      <div>
        <label>User<input type="checkbox" [(ngModel)]="rUser" id="rUser" name="rUser"><br></label>
        <div *ngIf = "isRegistrarAdmin()">
          <label>Admin<input type="checkbox" [(ngModel)]="rAdmin" id="rAdmin" name="rAdmin"><br></label><br>
        </div>
      </div>
    </label>
            <!-- Link to User Home Page once created -->
    <button type="submit"> Register </button><br>

  </form>

    <p> Already have an account? <a href="./user-login">Sign in!</a></p>

</div>

</body>
