<body>
    <main class="main">
        <aside class="sidebar">
            <nav class="nav">
                <ul>
                    <li class="active"><h3><a href="#">MENU</a></h3></li>
                    <li><a href="#">Coffee</a></li>
                    <li><a href="#">TEA</a></li>
                    <li><a href="#">PASTRY</a></li>
                </ul>
            </nav>
        </aside>
    
        <section >
            <div class="menu">
                <h1>Dreammy Joys Coffee</h1>
                    <form>
                        <div class="button"><button type="submit">Login</button></div>
                        <input type="text" placeholder=" Search...." name="search">
                        <button type="submit">Submit</button>
                    </form>
                    <hr>
                    <div class="gallery">
                        <table>
                            <tr>
                                <td><div class="item"><img src="/assets/images/Latte.jpg" ><span class="caption">Latte</span></div></td>
                                <td><div class="item"><img src="/assets/images/Cappuccino.jpg"><span class="caption">Cappuccino</span></div></td>
                                <td><div class="item"><img src="/assets/images/mocha.jpg"><span class="caption">Mocha</span></div></td>
                            </tr>
                            <tr>
                                <td><div class="item"><img src="/assets/images/Chai-tea.jpg"><span class="caption">Chai tea</span></div></td>
                                <td><div class="item"><img src="/assets/images/cinnamon-green-tea.jpg"><span class="caption">Cinnamon green tea</span></div></td>
                                <td><div class="item"><img src="/assets/images/ice-tea.jpg"><span class="caption">Ice tea</span></div></td>
                            </tr>
                            <tr>
                                <td><div class="item"><img src="/assets/images/miso-caramel-apple-danish.jpg"><span class="caption">Miso caramel danish</span></div></td>
                                <td><div class="item"><img src="/assets/images/strawberry-shortcake-puffs.jpg"><span class="caption">Strawberry shortcake puffs</span></div></td>
                                <td><div class="item"><img src="/assets/images/white-chocolate-mousse.jpg"><span class="caption">White chocolate</span></div></td>
                            </tr>
                        </table>
                    </div>       
                <div class="container1">
                    <div class="about-us">
                        <h3>About us:</h3>
                        <p>Our main goal since we began has remained basic: acquaint our clients with the domains we specifically purchase our extraordinary-tasting coffee from, broil the beans with consideration, and make astounding coffee increasingly available through our bistros and our site. The coffee we cook is the coffee we like to drink, and we trust you like it as well.
                         At ‘Dreammy Joys Coffee’ Roasters, we pursue a straightforward arrangement of convictions.</p>
                    </div>
                </div>
                <div class="container2">
                    <div class="links">
                        <h3></h3>
                        <p>Follow us: <a href="url">www.Dreammyjoyscoffee.com</a></p>
                    </div>
                </div>
        </div>
    </section>
  </main>
</body>