<header class="flex-header">

  <div id="greeting-cart">
    <div id="greeting">Hello {{ name }}!</div>
    <a href="/create-coffee">
      <img id="cart-icon" src="../assets/images/cart-icon.jpeg">
    </a>
  </div>

  <a href="/">
    <img id="logo" src="../assets/images/DJC logo.png" alt="logo">
  </a>

  <div id="user-buttons">
    <div *ngIf="isUserLoggedIn(); else loginButton">
      <button class="user-button" id="logout" (click)="logout()">Logout</button>
    </div>
    <ng-template #loginButton>
      <button *ngIf="isNotLoginPg()" class="user-button" id="toLogin" (click)="goToLogin()">Login</button>
    </ng-template>

    <button *ngIf="isNotRegistration()" class="user-button" id="toRegister" (click)="goToRegistration()">Register</button>
  </div>
</header>
