<header class="flex-header">

  <div id="greeting-cart">
    <div id="greeting">Hello, {{ name }}!</div>
    <a href="/create-coffee">
      <img id="cart-icon" src="../assets/images/cart-icon.jpeg">
    </a>
  </div>

  <a href="/">
    <img id="logo" src="../assets/images/DJC logo.png" alt="logo">
  </a>

  <div id="user-buttons">
    <div *ngIf="isUserLoggedIn(); else loginButton">
      <button class="user-button" id="logout" onclick="logoutUser()">Logout</button>
    </div>
    <ng-template #loginButton>
      <button class="user-button" id="toLogin" onclick="goToLogin()">Login</button>
    </ng-template>

    <button class="user-button" id="toRegister" onclick="goToRegistration">Register</button>
  </div>





</header>
