button {
  height: 20px;
  width: 100%;
  background: teal;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 80px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
}

button:hover {
  background: #0887e8;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 80px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
}

header {
  height: 120px;
  font-weight: bold;
  color: teal;
  background: #AB804F;
  font-size: 34px;
}

img {
    padding: 20px;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.user-button {
  width: 150%;
}

#cart-icon {
  grid-area: cart;
  width: 80px;
  height: 80px;
}

#greeting {
  grid-area: greet;
  text-shadow: 3px 2px 1px #E8AE6B;
}

#greeting-cart {
  display: grid;
  grid-template-areas: "greet cart";
  align-items: center;
}

#logo {
  justify: center;
}

#user-buttons {
  display: grid;
  row-gap: 15%;
  grid-template-rows: max-content;
  grid-template-areas:
    "logUser"
    "toRegister";
}

#logout {
  grid-area: logUser;
}

#toLogin {
  grid-area: logUser;
}

#toRegistration {
  grid-area: toRegister;
}
