<header class="flex-header">

  <div id="greeting-cart">
    <div id="greeting"><a href="#" routerLink="/" class="logo">Hello, {{ name }}!</a></div>
  </div>
  <div id="user-buttons">
    <div *ngIf="isUserLoggedIn(); else loginButton">
      <button class="user-button" id="logout" (click)="logout()">Logout</button>
    </div>
    <ng-template #loginButton>
      <button class="user-button" id="toLogin" (click)="goToLogin()">Login</button>
    </ng-template>

    <button class="user-button" id="toRegister" (click)="goToRegistration()">Register</button>
  </div>
</header>

<router-outlet></router-outlet>
