div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div a{
    background: #f0f0f0;
    padding: .8rem 2rem;
    margin: .2rem .15rem;
    border-radius: 0;
    font-weight: 600;
    font-size:xx-large;
}