<div class="container">
    <a class="images"><img [src]="drink.imageUrl" [alt]="drink.name"></a>
</div>

<div class="details">
    <div class="header">
        <span class="name">
            {{drink.name}}
        </span>
        <span class="favorite {{drink.favorite?'':'not'}}">
            ❤
        </span>
        
    </div>
    
    <div class="rating">
        <star-rating 
                    [value]="drink.stars"
                    [totalstars]="5"
                    checkedcolor="red" 
                    uncheckedcolor="black" 
                    size="30px" 
                    [readonly]="true" >
                </star-rating>
    </div>
    <div class="price">
        <span>
            {{drink.price | currency}}
        </span>
        
    </div>
    <button (click)="addToCart()" >Add to cart, Click here customize your drink</button>
</div>