<body id="container">

<app-search></app-search>
<ul>
    <li *ngFor="let drink of drinkTypes">
        <a routerLink="/create-coffee/{{ drink.name }}">
            <a class="images"><img src="{{ drink.imageUrl }}" alt=""></a>
            <div class="content">
                <div class="name">
                    {{ drink.name }}
                </div>
                <!-- <star-rating 
                    [value]="drink.stars"
                    [totalstars]="5"
                    checkedcolor="red" 
                    uncheckedcolor="black" 
                    size="20px" 
                    [readonly]="true" >
                </star-rating> -->
                <div class="price">
                    <span>{{drink.price | currency}}</span>

                </div>
            </div>
        </a>
        
    </li>
</ul>

</body>


