<body>
    <div class="background">
        <header>
            <a href="/">
                <div class ="home">Return Home</div>
            </a>
                
            <a href="/">
                <img src="../../assets/images/DJC logo.png" alt="logo">
            </a>
        </header>
        
        <h1>Thank You!</h1>
        
        <p>Your order is now complete!<br>
            Please allow 5-10 minutes
            for your items to be prepared
            for your enjoyment.<br>
        </p> 
        <p>See you next time!</p>     
    </div>
</body>


