
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Homepage</title>
</head>
<body>
<header>
<!--  <div class ="helloname">Hello, Name</div>-->
  <div class ="logout">
    <form (ngSubmit)="goToLoginPage()">
      <button type="submit">logout</button>
    </form>
  </div>
  <div class ="ordermore">
    <form (ngSubmit)="redirectToHomepage()">
      <button type="submit">Order New Drink</button>
    </form>
  </div>
<!--  <div class="DreamyLogo">-->
<!--    <img src="\assets\images\DJC logo.png" alt="DreamyLogo">-->
<!--  </div>-->
</header>




<div class="galleries-container">
  <section class="gallery">
    <div class="grid-container">
      <div *ngFor="let item of FlavorsToAdd" class="grid-item">
        <button (click)="addToCart(item)">
          <img [src]="item.imageUrl">
          <p>{{ item.name }} - <span class="price">${{ item.price }}</span></p>
        </button>
      </div>
    </div>
  </section>




  <section class="gallery">
    <div class="grid-container">
      <div *ngFor="let item of FlavorsToAdd2" class="grid-item">
        <button (click)="addToCart(item)">
          <img [src]="item.imageUrl">
          <p>{{ item.name }} - <span class="price">${{ item.price }}</span></p>
        </button>
      </div>
    </div>
  </section>

  <section class="gallery">
    <div class="grid-container">
      <div *ngFor="let item of FlavorsToAdd3" class="grid-item">
        <button (click)="addToCart(item)">
          <img [src]="item.imageUrl">
          <p>{{ item.name }} - <span class="price">${{ item.price }}</span></p>
        </button>
      </div>
    </div>
  </section>

  <section class="gallery">
    <div class="grid-container">
      <div *ngFor="let item of FlavorsToAdd4" class="grid-item">
        <button (click)="addToCart(item)">
          <img [src]="item.imageUrl">
          <p>{{ item.name }} - <span class="price">${{ item.price }}</span></p>
        </button>
      </div>
    </div>
  </section>
</div>

<!-- need to find out how to link these 3 to the selected favorites. -->
<section class="shopping-cart" (click)="toggleCartItems()">

  <h2>
    <img src="\assets\images\cart-icon.jpeg" alt="Shopping Cart Icon">
  </h2>
  <ul [ngClass]="{'show': showCartItems}">
    <li *ngFor="let item of selectedItems">
      <p>{{ item.name }} - <span class="price">${{ item.price }}</span></p>
    </li>
    <form (ngSubmit)="redirectToCheckout()">
      <button class= "checkoutbutton" type="submit">Checkout</button>
    </form>
  </ul>
</section>





</body>

<body>
<section class="menu">
  <div class="container">
    <div class="box1">
      <p>Option 1</p>
      <p>Option 2</p>
      <p>Option 3</p>
      <p>Option 4</p>
    </div>
  </div>
  <div class="container">
    <div class="box2">
      <p>Drink Item</p>
      <p>Size / Option</p>
      <p>Milk Type</p>
      <p>Hot / Iced</p>
      <p>Flavor / Topping / Add-ons</p>
    </div>
  </div>
</section>
</body>
</html>

